<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Thuận Phát</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/logo/ThuanPhat_Logo.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="wrapper-triangle">
        <div class="pen">
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
          <div class="line-triangle">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Top page -->
      <div class="row" style="background-color: rgb(5, 5, 165);">
        <div class="col-md-2">

        </div>
        <div class="col-md-8" style="color: white;">
          <marquee> Công ty trách nhiệm hữu hạn chế tạo máy Thuận Phát - Cơ sở chính: 23/36/11 Nguyễn hữu tiến, Tây thạnh, Tân Phú, Hồ Chí Minh - Cơ sở 2: 111 Nguyễn Hữu Tiến, Tây Thạnh, Tân Phú, Hồ Chí Minh - Cơ sở 3: 22B đường số 7, Bình Hưng Hoà, Bình Tân, Hồ Chí Minh - Số điện thoại: 0909 323 027</marquee>
        </div>
        <div class="col-md-2" >

        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="56px" data-xl-stick-up-offset="56px" data-xxl-stick-up-offset="56px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner-outer">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/"><img src="/images/logo/Logo_ThuanPhat.png" alt="" width="200" height="86"/></a></div>
                  
                </div>
                <div class="rd-navbar-right rd-navbar-nav-wrap">
                  <div class="rd-navbar-aside">
                    <ul class="rd-navbar-contacts-2">
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                          <div class="unit-body"><a class="phone" href="tel:#" style="color: rgb(5, 5, 165);">0909 323 027</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                          <div class="unit-body"><a class="address" href="#" style="color: rgb(5, 5, 165);">23/36/11 Nguyễn hữu tiến, Tây thạnh, Tân Phú, Hồ Chí Minh</a></div>
                        </div>
                      </li>
                    </ul>
                    <ul class="list-share-2">
                      <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                      <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                      <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                  <div class="rd-navbar-main">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/">Trang Chủ</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about">Giới thiệu</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/product">Sản Phẩm</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Liên Hệ</a>
                      </li>
                      
                    </ul>
                    
                  </div>
                </div>
                
                <div class="rd-navbar-project-hamburger rd-navbar-project-hamburger-open rd-navbar-fixed-element-1" data-multitoggle=".rd-navbar-inner" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                  <div class="project-hamburger">
                    <span class="project-hamburger-arrow"></span>
                    <span class="project-hamburger-arrow"></span>
                    <span class="project-hamburger-arrow"></span>
                  </div>
                </div>
                <div class="rd-navbar-project" style="margin-top: -60px; margin-left: -20px;">
                  <div class="rd-navbar-project-header">
                   
                    <div class="rd-navbar-project-hamburger rd-navbar-project-hamburger-close" data-multitoggle=".rd-navbar-inner" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                      <div class="project-close">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div><br><br>
                  <div style="width: 80%; margin: -0.01px 30px;">
                    <form action="product/search" method="GET">
                      <div class="input-group">
                        <input style="height: 20px; width: 100px;" type="text" name="q" class="form-control" placeholder="Nhập từ khóa tìm kiếm" required>
                        <span class="input-group-btn">
                          <button style="height: 52px; width: 70px;"  type="submit" class="btn-primary"><i style="font-size: 20px;" class="ti ti-search"></i></button>
                        </span>
                      </div>
                    </form>
                  </div><br>
                  <div>
                      <% if (req.session.user) { %>
                        <div>
                          <a style="color: blue; font-size: 24px;"  href="/user/profile/<%= req.session.user.id %>">Xin chào! <%= req.session.user.name %></a><br>
                          <a style="color: red; height: 30px;" href="/logout">Đăng xuất</a><br><br>
                        </div>
                      <% } else { %>
                        <a style="padding: 15px 20px; background-color: blue; color: white;" class="icon mdi" href="/login">Đăng nhập</a>
                      <% } %>
                    </div><br>
                  <div style="margin-top: 0px;" class="rd-navbar-project-content rd-navbar-content">
                    
                    <div class="sidebar">
                      
                      <div>
                        <div class="sidebar_title">
                          <h5 style="color: black; float: left;">Dịch vụ</h5><br>
                        </div>
                        <ul class="list-category list-category-down-md-inline-block">
                          <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a href="#">Gia công</a></li>
                          <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a href="#">Bảo hành</a></li>
                          <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a href="#">Sửa chữa</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="button-wrap oh">
                    <a style="padding: 15px 20px; background-color: yellow; color: blue;" class="icon mdi mdi-cart" href="/cart">Giỏ hàng</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <div class="container">
        <div class="heading-section-bao" style="text-align: left; color: rgb(5, 5, 165); margin-top: 30px;">
        </div>

        <div class="row" style="box-shadow: 0 0 10px rgba(224, 218, 218, 0.5); padding: 80px 0px; border-radius: 30px;">
          <div class="col-md-6">
            <div id="slider" class="owl-carousel product-slider">
              <div class="item">
                  <img style="height: 370px; width: 350px; margin: auto; border-radius: 5px;" src="<%= product.image %>" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-dtl-bao" style="text-align: left;">
              <div class="product-info-bao">
                <div class="product-name"><%= product.name %></div><p>(10 đánh giá)</p>
                <div class="product-price-discount-bao">
                  <span>$<%= product.price %></span>
                  <!-- <span class="line-through">$29.00</span> -->
                </div>
              </div>
              <div>Mô tả: </div>
              <p style="margin-left: 20px;"><%= product.description %></p>
              <div>Danh mục sản phẩm: </div>
              <p style="margin-left: 20px;"><%= product.category.name%></p>
	        		<div class="product-count-bao">
                <!-- <a href="#" class="round-black-btn-bao">Thêm vào giỏ</a> -->
                <form method="POST" action="/cart/add/<%= product._id %>">
                  <button style="border-radius: 10px;" type="submit" class="button button-xs button-primary button-winona">Mua hàng</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="product-info-bao-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="true" style="color: #000; font-size: 20px;">Bình luận</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false" style="color: #000; font-size: 20px;">Mô tả</a>
          </li>
      </ul>
      <div class="tab-content" id="myTabContent" style="text-align: left; margin-bottom: 100px;">
          <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
            <!-- <div class="review-heading">Bình luận</div> -->
            <form class="review-form-bao" action="/product/<%= product._id %>" method="POST">
              <div class="form-group">
                <div class="row" style="width: 100%; margin: auto;">
                  <div class="col-md-11">
                    <textarea style="box-shadow: 0 0 10px rgba(94, 92, 92, 0.5); width: 110%; border-radius: 30px; padding: 15px 25px;" name="comment" class="form-control" rows="1" placeholder="Viết nội dung..."></textarea>
                  </div>
                  <div class="col-md-1">
                    <button style="border: none; background: #fff; font-size: 25px; margin: 15px; margin-left: 2px;" type="submit"><i class="ti ti-send"></i></button>
                  </div>
                </div>
              </div>
            </form>
            <% reviews.forEach(function(review) { %>
            <div class="message-box" style="margin: auto; width: 97%; margin-bottom: 20px;">
              <img src="<%= review.user.image %>" alt="profile image">
              <div class="message-content">
                <div class="message-header">
                  <div class="row" style="width: 100%;">
                    <div class="col-md-8">
                      <div style="color: #000;" class="name"><%= review.user.name %></div>
                    </div>
                    <div class="col-md-4">
                      <p style="color: #000;" class="message-line time">
                        <%= review.createdAt.toLocaleString() %>
                      </p>
                    </div>
                  </div>
                </div>
                <p style="color: #000;" class="message-line">
                  <%= review.comment %>
                </p>
              </div>
            </div>
            <% }); %>
          </div>
          <div class="tab-pane fade " id="description" role="tabpanel" aria-labelledby="description-tab">
            <%= product.category.description %>
          </div>
      </div>
    </div>
  </div>
  <div class="page">
    <h5 style="color: blue;">Sản phẩm tương tự</h5><br><br>
    <section class="section section-lg bg-default" style="padding: 0;">
      <div class="container">
        <div class="row row-lg row-30">
          <% relatedProducts.forEach(function(productcategory) { %>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="<%= productcategory.image %>" style="min-height: 192px; min-width: 161px; padding-right: 20px;" alt="" width="161" height="162"/>
              </div>
              
              <h6 class="product-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= productcategory.name %></h6>
              <div class="product-price-wrap">
                <div class="product-price product-price-old">
                  
                </div>
                <div class="product-price">
                $ <%= productcategory.price %>
                </div>
              </div>
              <div class="product-button">
                <div class="button-wrap">
                  <!-- <a class="button button-xs button-primary button-winona" href="/cart/<%= product._id%>">Thêm vào giỏ hàng</a> -->
                  <form method="POST" action="/cart/add/<%= productcategory._id %>">
                    <button type="submit" class="button button-xs button-primary button-winona">Thêm vào giỏ hàng</button>
                  </form>
                </div>
                <div class="button-wrap">
                  <a class="button button-xs button-secondary button-winona" href="/product/<%= productcategory._id%>">Chi tiết sản phẩm</a>
                </div>
              </div>
              <!-- <span class="product-badge product-badge-new">New</span> -->
            </article>
          </div>
          <% }); %>
        </div>
      </div>
    </section>
  </div>
      
      
      <!-- Page Footer-->
      <footer class="section footer-modern context-dark footer-modern-2">
        <div class="footer-modern-line">
          <div class="container">
            <div class="row row-50">
              <div class="col-md-6 col-lg-4">
                <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft">SẢN PHẨM CHÍNH</span></h5>
                <ul class="footer-modern-list d-inline-block d-sm-block wow fadeInUp">
                  <li><a href="#">Máy đóng gói</a></li>
                  <li><a href="#">Máy hút chân không</a></li>
                  <li><a href="#">Máy đóng đai thùng</a></li>
                  <li><a href="#">Máy chiết rót</a></li>
                  <li><a href="#">Máy hàn miệng bao bì</a></li>
                  <li><a href="#">Máy dán màn siu</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft">THÔNG TIN</span></h5>
                <ul class="footer-modern-list d-inline-block d-sm-block wow fadeInUp">
                  <li><a href="/about">Giới thiệu</a></li>
                  <li><a href="#">Tin mới</a></li>
                  <li><a href="#">Sản phẩm</a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#">Vị trí cửa hàng</a></li>
                  <li><a href="/contact">Liên hệ</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-xl-5">
                <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft">ĐĂNG KÝ</span></h5>
                <p class="wow fadeInRight">Đăng ký ngay hôm nay để nhận tin tức và cập nhật mới nhất.</p>
                <!-- RD Mailform-->
                <form class="rd-form rd-mailform rd-form-inline rd-form-inline-sm oh-desktop" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap wow slideInUp">
                    <input class="form-input" id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required"/>
                    <label class="form-label" for="subscribe-form-2-email">Enter your E-mail</label>
                  </div>
                  <div class="form-button form-button-2 wow slideInRight">
                    <button class="button button-sm button-icon-3 button-primary button-winona" type="submit"><span class="d-none d-xl-inline-block">Subscribe</span><span class="icon mdi mdi-telegram d-xl-none"></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-modern-line-2">
          <div class="container">
            <div class="row row-30 align-items-center">
              <div class="col-sm-6 col-md-7 col-lg-4 col-xl-4">
                <div class="row row-30 align-items-center text-lg-center">
                  <div class="col-md-7 col-xl-6"><a class="brand" href="/"><img src="/images/logo/Logo_ThuanPhat.png" alt="" width="198" height="66"/></a></div>
                  <div class="col-md-5 col-xl-6">

                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-12 col-lg-8 col-xl-8 oh-desktop">
                <div class="group-xmd group-sm-justify">
                  <div class="footer-modern-contacts wow slideInUp">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon icon-24 mdi mdi-phone"></span></div>
                      <div class="unit-body"><a class="phone" href="tel:0909323027">0909 323 027</a></div>
                    </div>
                  </div>
                  <div class="footer-modern-contacts wow slideInDown">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                      <div class="unit-body"><a class="mail" href="mailto:maymocthuanphat@gmail.com">maymocthuanphat@gmail.com</a></div>
                    </div>
                  </div>
                  <div class="wow slideInRight">
                    <ul class="list-inline footer-social-list footer-social-list-2 footer-social-list-3">
                      <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                      <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                      <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                      <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-modern-line-3">
          <div class="container">
            <div class="row row-10 justify-content-between">
              <div class="col-md-6"><span>Programmer: 0335056407</span></div>
              <div class="col-md-auto">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span></span><span>.&nbsp;</span><span></span><span> Design&nbsp;by&nbsp;<a href="https://www.facebook.com/vanbaopmdp">BAO-GG</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<style>

.message-box {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(96, 95, 95, 0.5);
  padding: 7px 10px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.message-box:hover {
  background-color: var(--message-box-hover);
  border-top-color: var(--link-color-hover);
}
.message-box:hover + .message-box {
  border-top-color: var(--link-color-hover);
}
.message-box img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.message-header .name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--main-color);
  margin: 0;
}

.message-content {
  padding-left: 16px;
  width: 100%;
}

.star-checkbox input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.star-checkbox label {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dark .star-checkbox {
  color: var(--secondary-color);
}
.dark .star-checkbox input:checked + label {
  color: var(--star);
}
.star-checkbox input:checked + label svg {
  fill: var(--star);
  transition: 0.2s;
}

.message-line {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: var(--secondary-color);
  opacity: 0.7;
}
.message-line.time {
  text-align: right;
  margin-bottom: 0;
}










a:hover {
  text-decoration: none;
}
.heading-section-bao {
text-align: center;
margin-bottom: 20px;
}

.heading-section-bao h2 {
font-size: 32px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
}
.owl-nav-bao button {
position: absolute;
top: 50%;
transform: translate(0, -50%);
outline: none;
height: 25px;
}
.owl-nav-bao button svg {
width: 25px;
height: 25px;
}
.owl-nav-bao button.owl-prev {
left: 25px;
}
.owl-nav-bao button.owl-next {
right: 25px;
}
.owl-nav-bao button span {
font-size: 45px;
}
.product-thumb .item img {
height: 100px;
}
.product-name {
font-size: 22px;
font-weight: 500;
line-height: 22px;
margin-bottom: 4px;
}
.product-price-discount-bao {
font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}
.product-price-discount-bao span.line-through {
text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #a5a5a5;
}
.display-flex-bao {
display: flex;
}
.product-info-bao {
width: 100%;
}
.reviews-counter-bao {
  font-size: 13px;
}
.reviews-counter-bao span {
vertical-align: -2px;
}


.rating {
  float: left;
  padding: 0 10px 0 0;
}

.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
}

.rating:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color:#ccc;
  margin-bottom: 0;
  line-height: 21px;
}

.rating:not(:checked) > label:before {
  content: '\2605';
}

.rating > input:checked ~ label {
  color: #ffc700;    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #deb217;  
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rating .half:before {
  content: '\2605';
  position: absolute;
  padding-right: 3px;
}

.rating input:checked + label.half:before {
  content: '\2605';
  color: #ffc700;
}




.product-dtl-bao p {
font-size: 14px;
line-height: 24px;
color: #7a7a7a;
}
.product-dtl-bao .form-control {
font-size: 15px;
}
.product-dtl-bao label {
line-height: 16px;
font-size: 15px;
}
.form-control:focus {
outline: none;
box-shadow: none;
}
.product-count-bao {
margin-top: 15px; 
}
.product-count-bao .qtyminus,
.product-count-bao .qtyplus {
width: 34px;
  height: 34px;
  background: #212529;
  text-align: center;
  font-size: 19px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}
.product-count-bao .qtyminus {
border-radius: 3px 0 0 3px; 
}
.product-count-bao .qtyplus {
border-radius: 0 3px 3px 0; 
}
.product-count-bao .qty {
width: 60px;
text-align: center;
}
.round-black-btn-bao {
border-radius: 4px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529; 
  transition: all 0.5s ease-in-out 0s;
}
.round-black-btn-bao:hover,
.round-black-btn-bao:focus {
background: transparent;
color: #212529;
text-decoration: none;
}

.product-info-bao-tabs {
margin-top: 25px; 
}
.product-info-bao-tabs .nav-tabs {
border-bottom: 2px solid #d8d8d8;
}
.product-info-bao-tabs .nav-tabs .nav-item {
margin-bottom: 0;
}
.product-info-bao-tabs .nav-tabs .nav-link {
border: none; 
border-bottom: 2px solid transparent;
color: #323232;
}
.product-info-bao-tabs .nav-tabs .nav-item .nav-link:hover {
border: none; 
}
.product-info-bao-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-bao-tabs .nav-tabs .nav-link.active, 
.product-info-bao-tabs .nav-tabs .nav-link.active:hover {
border: none; 
border-bottom: 2px solid #d8d8d8;
font-weight: bold;
}
.product-info-bao-tabs .tab-content .tab-pane {
padding: 30px 20px;
font-size: 15px;
line-height: 24px;
color: #7a7a7a;
}
.review-form-bao .form-group {
clear: both;
}
.mb-20 {
margin-bottom: 20px;
}

.review-form-bao .rating {
float: none;
display: inline-block;
}
.review-heading {
font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #000;
}
.review-form-bao .form-control {
font-size: 14px;
}
.review-form-bao input.form-control {
height: 40px;
}
.review-form-bao textarea.form-control {
resize: none;
}
.review-form-bao .round-black-btn-bao {
text-transform: uppercase;
cursor: pointer;
}
</style>
  
<script>
  $(document).ready(function() {
        var slider = $("#slider");
        var thumb = $("#thumb");
        var slidesPerPage = 4; //globaly define number of elements per page
        var syncedSecondary = true;
        slider.owlCarousel({
            items: 1,
            slideSpeed: 2000,
            nav: false,
            autoplay: false, 
            dots: false,
            loop: true,
            responsiveRefreshRate: 200
        }).on('changed.owl.carousel', syncPosition);
        thumb
            .on('initialized.owl.carousel', function() {
                thumb.find(".owl-item").eq(0).addClass("current");
            })
            .owlCarousel({
                items: slidesPerPage,
                dots: false,
                nav: true,
                item: 4,
                smartSpeed: 200,
                slideSpeed: 500,
                slideBy: slidesPerPage, 
              navText: ['<svg width="18px" height="18px" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="25px" height="25px" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
                responsiveRefreshRate: 100
            }).on('changed.owl.carousel', syncPosition2);
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - (el.item.count / 2) - .5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumb
                .find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = thumb.find('.owl-item.active').length - 1;
            var start = thumb.find('.owl-item.active').first().index();
            var end = thumb.find('.owl-item.active').last().index();
            if (current > end) {
                thumb.data('owl.carousel').to(current, 100, true);
            }
            if (current < start) {
                thumb.data('owl.carousel').to(current - onscreen, 100, true);
            }
        }
        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                slider.data('owl.carousel').to(number, 100, true);
            }
        }
        thumb.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            slider.data('owl.carousel').to(number, 300, true);
        });


            $(".qtyminus").on("click",function(){
                var now = $(".qty").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1> 0)
                    { now--;}
                    $(".qty").val(now);
                }
            })            
            $(".qtyplus").on("click",function(){
                var now = $(".qty").val();
                if ($.isNumeric(now)){
                    $(".qty").val(parseInt(now)+1);
                }
            });
    });



    const starRating = document.getElementById('star-rating');

if (starRating) {
  const stars = starRating.querySelectorAll('input[type="radio"]');
  
  for (const star of stars) {
    star.addEventListener('change', function() {
      // Lấy giá trị ngôi sao được chọn
      const selectedValue = parseInt(this.value);
      
      // Loại bỏ tất cả các lớp đã được đặt trước đó
      for (let i = 1; i <= 5; i++) {
        const starLabel = starRating.querySelector(`label[for="star${i}"]`);
        starLabel.classList.remove('filled');
      }
      
      // Đặt lại các lớp cho các ngôi sao
      for (let i = 1; i <= selectedValue; i++) {
        const starLabel = starRating.querySelector(`label[for="star${i}"]`);
        starLabel.classList.add('filled');
      }
    });
  }
}


</script>